# 필수 값
api_image       = "123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/supercent-log-api:v1.0.0"
consumer_image  = "123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/supercent-log-consumer:v1.0.0"
certificate_arn = "arn:aws:acm:ap-northeast-2:123456789012:certificate/xxxxxxxx"

# 선택 값 (기본값 사용 시 생략 가능)
# project              = "supercent-log"
# environment          = "prod"
# msk_instance_type    = "kafka.m5.xlarge"
# log_topic_partitions = 60
#
# 부하 테스트로 측정한 값으로 교체할 것
# api_target_request_count = 3000
#
# ECS Exec 디버깅이 필요하면 ssmmessages 추가
# interface_endpoint_services = {
#   ecr_api        = "ecr.api"
#   ecr_dkr        = "ecr.dkr"
#   logs           = "logs"
#   secretsmanager = "secretsmanager"
#   sts            = "sts"
#   kafka          = "kafka"
#   ssmmessages    = "ssmmessages"
# }
